@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #152A43;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: monospace;
  font-size: 14px;
}

@font-face {
  font-family: "skinnypixel";
  src: url("/fonts/PixelGame.otf") format("opentype");
}

/* .skinnypixel {
  font-family: "skinnypixel";
} */

@font-face {
  font-family: "fatpixel";
  src: url("/fonts/Born2bSportyFS.otf") format("opentype");
}

/* .fatpixel {
  font-family: "fatpixel";
} */

.planning-card-select {
  width: calc(2/3 * 100%);
  padding: 0;
  border-bottom: 1px solid var(--foreground);

  .mantine-Input-input {
    color: oklch(98.7% 0.022 95.277);
    font-family: "fatpixel";
    background-color: transparent;
  }
}

.mantine-Popover-dropdown {
  background-color: var(--background);
}

.mantine-Input-input {
  font-family: "fatpixel";
  font-size: medium;
  color: oklch(98.7% 0.022 95.277);
  background-color: var(--background);
  border: none;
  box-shadow: none;
}

.square-text-entry {
  .mantine-Textarea-input {
    line-height: 1;
  }
}